/**
 *	Common Classes
 */

html, body{
	font-family:Arial;
	height:100%;
}

body{ overflow-y:scroll }
a{ text-decoration:none }	
h1{
	margin-bottom:30px;
}

a{ text-decoration:none }	

.loading{
	background:url('../img/loader.gif') center center no-repeat
}

#content{
	font-size:14px;
}

	#content p{
		margin:0 0 10px;
	}

	#content strong{
		font-weight:bold;
	}

	#content ul{
		list-style:none;
		margin:10px 0 10px
	}

        #content ul li{
            margin:10px 0 20px;
            padding:15px;
            background-color:#eee
        }

        #content ul li p{
            padding:0;
            font-size:13px
        }

        #content ul li .description{
            margin:10px 0
        }

        #content ul li .example{
            font-weight:bold;
            font-size:13px
        }
