/**
 * @Layout
 */

#wrap{
	position:relative;
	min-height:100%;
	_height:100%;
}

	#container{	
		padding-bottom:25px;
		padding-top:25px;
	}

        #sidebar{
            margin-top:132px;
            width:250px;
            float:right;
            margin-left:40px;
            overflow:hidden;
            zoom:1;
        }

            #sidebar .menu ul{
                margin-left:30px;
            }

            #sidebar li{
                margin-bottom:5px;
            }

            #sidebar a{
                text-transform:lowercase;
                font-size:14px;
                padding:5px 10px;
                display:block;
            }
            
		#content{
			margin-bottom:80px;
            overflow:hidden;
            zoom:1;
		}

			h1{
				font:normal 25px Arial;
				margin-top:50px;
				padding:5px 35px 5px 0;
                display:block;
			}

				#content h1 strong{ 
                    font-weight:normal;
                    font-size:38px;
                    text-transform:capitalize
                }

			#rhino{
				position:absolute;
				bottom:2px;
				right:10px
			}
#wrap,
#bar .holder, 
#footer .holder, 
#container{ 
	position:relative;
	width:1024px;
	margin:0 auto;
}

#bar{
	position:relative;
	z-index:3;
	height:55px;
	margin-bottom:-55px;
}


	#project{
		position:absolute;
		top:0;
		right:40px;
	}

		#project .name{
			font-size:30px;
			font-weight:bold;
		}

		#project .description{
			font-size:12px;
			font-style:oblique;
		}

	#bar .menu{
		margin-left:-10px;
		overflow:hidden;
		zoom:1;
		list-style:none
	}

	#bar .menu li{
		float:left;
		margin-left:1px
	}

		#bar .menu li a{
			display:block;
			font-size:14px;
			text-decoration:none;
			padding:20px 25px
		}

#bar, #footer{
	overflow:hidden;
}

#footer{
	position:relative;
	z-index:2;
	height:25px;
	margin-top:-25px;
}

	#footer .holder{ padding-top:4px }

	#footer .holder p,
	#footer .holder a{
		font-size:12px;
		display:block;
	}

	#footer .holder .development{
		float:left;
	}

	#footer .holder .email, 
	#footer .holder .author{ 
		margin-left:20px;
		float:right 
	}

	#footer .email a{	
		padding-left:22px;
		background:url(../img/email-icon.png) no-repeat left top;
	}

	#footer .author a{
		padding-left:22px;
		background:url(../img/wordpress-icon.png) no-repeat left top;
	}
